{% extends "base.html" %}

{% block title %} Airport {{ airport.icao }} {% endblock %}

{% block content %}

<h1>{{ airport.name }}</h1>

{% if user.is_authenticated %}

<form method="post" action="{% url 'toggle_favorite' airport.icao %}">
    {% csrf_token %}

    {% if user in airport.favorited_by.all %}
        <button type="submit" class="btn btn-danger">
            Remove from favorites
        </button>
    {% else %}
        <button type="submit" class="btn btn-primary">
            Add to favorites
        </button>
    {% endif %}

</form>

{% else %}

<p>
    <a href="/accounts/login/">Login</a> to add favorites
</p>

{% endif %}

<h2>METAR</h2>

{% if metar %}
    <div class="metar-box">
        {{ metar }}
    </div>
{% else %}
    <div class="metar-box">
        No METAR data available.
    </div>
{% endif %}

<h2>Airport Information</h2>

<table>
    <!--<tr>
        <th>Field</th>
        <th>Value</th>
    </tr>-->
    <tr>
        <td><strong>ICAO</strong></td>
        <td>{{ airport.icao }}</td>
    </tr>
    <tr>
        <td><strong>IATA</strong></td>
        <td>{{ airport.iata }}</td>
    </tr>
    <tr>
        <td><strong>City</strong></td>
        <td>{{ airport.city }}</td>
    </tr>
    <tr>
        <td><strong>Subdivision</strong></td>
        <td>{{ airport.subd }}</td>
    </tr>
    <tr>
        <td><strong>Country</strong></td>
        <td>{{ airport.country }}</td>
    </tr>
    <tr>
        <td><strong>Elevation</strong></td>
        <td>{{ airport.elevation }}</td>
    </tr>
    <tr>
        <td><strong>Latitude</strong></td>
        <td>{{ airport.lat }}</td>
    </tr>
    <tr>
        <td><strong>Longitude</strong></td>
        <td>{{ airport.lon }}</td>
    </tr>
    <tr>
        <td><strong>Timezone</strong></td>
        <td>{{ airport.tz }}</td>
    </tr>
    <tr>
        <td><strong>LID</strong></td>
        <td>{{ airport.lid }}</td>
    </tr>
</table>


<br>

<a href="{% url 'home' %}">
    ← Back to search
</a>

{% endblock %}