{% extends "base.html" %}

{% block title %}
Compare METAR for {{ icao1 }} and {{ icao2 }}
{% endblock %}

{% block content %}
<div class="mb-3">
    {% if icao1 and icao2 %}
        <a href="{% url 'airport_compare' %}?icao1={{ icao1 }}&icao2={{ icao2 }}&refresh=1" class="btn btn-outline-primary">
            Refresh both METAR
        </a>
    {% endif %}
</div>
<div class="container mt-4">

    <h2 class="mb-4">Airport METAR Comparison</h2>

    
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}


    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Field</th>
                    <th>{{ icao1|default:"Airport 1" }}</th>
                    <th>{{ icao2|default:"Airport 2" }}</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <th>METAR</th>
                    {% if metar1 and metar1.raw_text %}
                    <td><div class="metar-box">{{ metar1.raw_text }}</div></td>
                    {% else %}
                    <td>No METAR available</td>
                    {% endif %}
                    {% if metar2 and metar2.raw_text %}
                    <td><div class="metar-box">{{ metar2.raw_text }}</div></td>
                    {% else %}
                    <td>No METAR available</td>
                    {% endif %}
                </tr>

                <tr>
                    <th>Wind</th>
                    <td>
                        {% if metar1 and metar1.wind %}
                            {{ metar1.wind.speed.kts }} kt from {{ metar1.wind.degrees }}°
                        {% else %}
                            Not reported
                        {% endif %}
                    </td>
                    <td>
                        {% if metar2 and metar2.wind %}
                            {{ metar2.wind.speed.kts }} kt from {{ metar2.wind.degrees }}°
                        {% else %}
                            Not reported
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <th>Visibility</th>
                    <td>{% if metar1 and metar1.visibility %}
                       {{ metar1.visibility.meters }} m
                    {% else %}
                        Not reported
                    {% endif %}</td>
                    <td>{% if metar2 and metar2.visibility %}
                        {{ metar2.visibility.meters }} m
                    {% else %}
                        Not reported
                    {% endif %}</td>
                </tr>
                <tr>
                    <th>RVR</th>
                    <td>{% if metar1 and metar1.runway_visual %}
                        {{ metar1.runway_visual.visual_range.meters }} m
                    {% else %}
                        Not reported
                    {% endif %}</td>
                    <td>{% if metar2 and metar2.runway_visual %}
                        {{ metar2.runway_visual.visual_range.meters }} m
                    {% else %}
                        Not reported
                    {% endif %}</td>
                </tr>

                <tr>
                    <th>Conditions</th>
                    <td>{% if metar1 and metar1.conditions %}
                        {{ metar1.conditions.text }}
                    {% else %}
                        Not reported
                    {% endif %}</td>
                    <td>{% if metar2 and metar2.conditions %}
                        {{ metar2.conditions.text }}
                    {% else %}
                        Not reported
                    {% endif %}</td>
                </tr>
                
                <tr>
                    <th>Cloud Layers</th>
                    <td>
                        {% if metar1 and metar1.clouds %}
                            {% for cloud in metar1.clouds %}
                                {{ cloud.code }} {{ cloud.feet }} ft<br>
                            {% endfor %}
                        {% else %}
                            Not reported
                        {% endif %}
                    </td>
                    <td>
                        {% if metar2 and metar2.clouds %}
                            {% for cloud in metar2.clouds %}
                                {{ cloud.code }} {{ cloud.feet }} ft<br>
                            {% endfor %}
                        {% else %}
                            Not reported
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <th>Vertical Visibility</th>
                    <td>
                        {% if metar1 and metar1.ceiling %}
                            {{ metar1.ceiling.feet }} ft<br>
                        {% else %}
                            Not reported
                        {% endif %}
                    </td>
                    <td>
                        {% if metar2 and metar2.ceiling %}
                            {{ metar2.ceiling.feet }} ft<br>
                        {% else %}
                            Not reported
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <th>Temperature</th>
                    <td>{% if metar1 and metar1.temperature %}
                        {{ metar1.temperature.celsius }} °C
                    {% else %}
                        Not reported
                    {% endif %}</td>
                    <td>{% if metar2 and metar2.temperature %}
                        {{ metar2.temperature.celsius }} °C
                    {% else %}
                        Not reported
                    {% endif %}</td>
                </tr>
                
                <tr>
                    <th>Dewpoint</th>
                    <td>{% if metar1 and metar1.dewpoint %}
                        {{ metar1.dewpoint.celsius  }} °C
                    {% else %}
                        Not reported
                    {% endif %}</td>
                    <td>{% if metar2 and metar2.dewpoint %}
                        {{ metar2.dewpoint.celsius  }} °C
                    {% else %}
                        Not reported
                    {% endif %}</td>
                </tr>

                <tr>
                    <th>Pressure</th>
                    <td>{% if metar1 and metar1.pressure %}
                        {{ metar1.pressure.mb  }} hPa
                    {% else %}
                        Not reported
                    {% endif %}</td>
                    <td>{% if metar2 and metar2.pressure %}
                        {{ metar2.pressure.mb  }} hPa
                    {% else %}
                        Not reported
                    {% endif %}</td>
                </tr>

                <tr>
                    <th>Trend forecast</th>
                    <td>{% if metar1 and metar1.trend %}
                        {{ metar1.trend.change.text  }}
                    {% else %}
                        Not reported
                    {% endif %}</td>
                    <td>{% if metar2 and metar2.trend %}
                        {{ metar2.trend.change.text  }}
                    {% else %}
                        Not reported
                    {% endif %}</td>
                </tr>

            </tbody>
        </table>
    </div>

    <a href="{% url 'home' %}" class="btn btn-secondary mt-3">← Back to Search</a>

</div>

{% endblock %}
