{% extends "base.html" %}

{% block title %}
{{ airport.icao }} Decoded METAR
{% endblock %}

{% block content %}

<div class="container mt-4">

   <!-- Airport header -->
   <div class="card mb-4">
      <div class="card-body">

         <h1>{{ airport.name }}</h1>
            <p class="text-muted">{{ airport.city }}, {{ airport.country }}</p>

      <div class="row">

      <div class="col-md-6">

      <table class="table table-sm">
         <tr>
            <th>ICAO</th>
            <td>{{ airport.icao }}</td>
         </tr>

         <tr>
            <th>IATA</th>
            <td>{{ airport.iata }}</td>
         </tr>

         <tr>
            <th>Elevation</th>
            <td>{{ airport.elevation }} ft</td>
         </tr>
      </table>

      </div>

            <div class="col-md-6">

               <table class="table table-sm">
                  <tr>
                     <th>Latitude</th>
                     <td>{{ airport.lat }}</td>
                  </tr>

                  <tr>
                     <th>Longitude</th>
                     <td>{{ airport.lon }}</td>
                  </tr>

                  <tr>
                     <th>Timezone</th>
                     <td>{{ airport.tz }}</td>
                  </tr>
               </table>

            </div>

         </div>
      </div>
   </div>


   <!-- Raw METAR -->
   <div class="card mb-4">

      <div class="card-header">
         <h4>Raw METAR</h4>
      <div class="metar-actions">
            <a href="{% url 'airport_detail' airport.icao %}?refresh=1" class="btn btn-refresh">
               <i class="bi bi-arrow-clockwise"></i>
                  Refresh
            </a>
      </div>

      {% if metar.raw_text %}
         <div class="metar-raw">
            {{ metar.raw_text }}
         </div>
      {% else %}
         <p>No METAR available</p>
      {% endif %}

      </div>
   </div>


   <!-- Observation -->
   <div class="card mb-4">

      <div class="card-header">
         <h4>Observation</h4>
      </div>

      <div class="card-body">

         <table class="table">

         <tr>
            <th>Observed</th>
            <td>{{ metar.observed }}</td>
         </tr>

         <tr>
            <th>Flight Category</th>
            <td>{{ metar.flight_category }}</td>
         </tr>

         </table>

      </div>
   </div>


   <!-- Wind -->
   <div class="card mb-4">

      <div class="card-header">
         <h4>Wind</h4>
      </div>

      <div class="card-body">

         {% if metar.wind %}

         <table class="table">

            <tr>
               <th>Degrees</th>
               <td>{{ metar.wind.degrees }}°</td>
            </tr>

            <tr>
               <th>Speed</th>
               <td>{{ metar.wind.speed.kts }} kt</td>
            </tr>

            <tr>
               <th>Gust</th>
               <td>{{ metar.wind.gust.kts }}</td>
            </tr>

         </table>

         {% else %}

         <p>No wind reported.</p>

         {% endif %}

      </div>
   </div>


   <!-- Visibility -->
   <div class="card mb-4">

      <div class="card-header">
         <h4>Visibility</h4>
      </div>

      <div class="card-body">

         {% if metar.visibility %}
         <strong>{{ metar.visibility.meters }} meters</strong>
         {% else %}
         <p>No visibility reported.</p>
         {% endif %}

      </div>
   </div>

   <!-- RVR -->
   <div class="card mb-4">

      <div class="card-header">
         <h4>RVR</h4>
      </div>

      <div class="card-body">

         {% if metar.runway_visual %}
         <strong>{{ metar.runway_visual.visual_range.meters }} meters</strong>
         {% else %}
         <p>No RVR reported.</p>
         {% endif %}

      </div>
   </div>

   <!-- Conditions -->
   <div class="card mb-4">

      <div class="card-header">
         <h4>Conditions</h4>
      </div>

      <div class="card-body">

         <table class="table">
            {% if metar.conditions %}
            <tr>
               <th>Code</th>
               <td>{{ metar.conditions.code }}</td>
            </tr>

            <tr>
               <th>Text</th>
               <td>{{ metar.conditions.text }}</td>
            </tr>
            {% else %}
            <p>No conditions reported.</p>
            {% endif %}

         </table>
      </div>
   </div>

   <!-- Clouds -->
   <div class="card mb-4">

      <div class="card-header">
         <h4>Cloud Layers</h4>
      </div>

      <div class="card-body">

         {% if metar.clouds %}
         <table class="table">
            <tr>
               Coverage and Height
            </tr>
            {% for cloud in metar.clouds %}
            <tr>
               {{ cloud.code }} {{ cloud.feet }} feet<br>
            </tr>
            {% endfor %}
         </table>
         {% else %}
         <p>No cloud reported.</p>
         {% endif %}

      </div>
   </div>

   <!-- Vertical Visibility -->
   <div class="card mb-4">

      <div class="card-header">
         <h4>Vertical Visibility</h4>
      </div>

      <div class="card-body">

         {% if metar.ceiling %}
         <strong>{{ metar.ceiling.feet }} feet</strong>
         {% else %}
         <p>No vertical visibility reported.</p>
         {% endif %}

      </div>
   </div>

   <!-- Temperature -->
   <div class="card mb-4">

      <div class="card-header">
         <h4>Temperature and Dew Point</h4>
      </div>

      <div class="card-body">

         <table class="table">
            {% if metar.temperature and metar.dewpoint %}
            <tr>
               <th>Temperature</th>
               <td>{{ metar.temperature.celsius }} °C</td>
            </tr>

            <tr>
               <th>Dewpoint</th>
               <td>{{ metar.dewpoint.celsius }} °C</td>
            </tr>
            {% else %}
               <p>No temperature or dewpoint reported.</p>
            {% endif %}

         </table>

      </div>
   </div>


   <!-- Pressure -->
   <div class="card mb-4">

      <div class="card-header">
         <h4>Pressure</h4>
      </div>

      <div class="card-body">

         {% if metar.pressure %}
            <strong>{{ metar.pressure.mb }} hPa</strong>
         {% else %}
            <p>No pressure reported.</p>
         {% endif %}

      </div>
   </div>

   <!-- Trend -->
   <div class="card mb-4">

      <div class="card-header">
         <h4>Trend</h4>
      </div>

         <div class="card-body">

         {% if metar.trend %}
            <tr>
               <td>{{ metar.trend.change.text }}</td>
            </tr>
         {% else %}

            <p>No Trend reported.</p>

         {% endif %}

      </div>
   </div>

   <a href="{% url 'airport_detail' airport.icao %}" class="btn btn-secondary mt-3">
   Back to METAR
   </a>

</div>

{% endblock %}
