{% extends "base.html" %}
{% load static %}

{% block title %} Home Page {% endblock %}

{% block content %}

<p>This is the home page</p>

<form id="airport-search-form">
    <input 
        type="text" 
        id="icao_input"
        placeholder="Enter ICAO code" 
        maxlength="4"
        required
    >
    <button type="submit">Search</button>
</form>

<form method="get" action="{% url 'airport_compare' %}" class="row g-3 mb-4">

<div class="col-md-5">
<input
    type="text"
    name="icao1"
    class="form-control"
    placeholder="Departure ICAO"
    maxlength="4"
    required>
</div>

<div class="col-md-5">
<input
    type="text"
    name="icao2"
    class="form-control"
    placeholder="Destination ICAO"
    maxlength="4"
    required>
</div>

<div class="col-md-2">
<button type="submit" class="btn btn-primary w-100">
Compare
</button>
</div>

</form>
<script src="{% static 'myapp/js/web.js' %}"></script>

{% endblock %}